{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid m-4">
        <div class="container">
            <h1 class="display-4">Bienvenue sur ce site </h1>
            <p class="lead">Ce site constite ...... </p>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}